services:
  fujida_api:
    build: .
    container_name: fujida_api
    restart: always
    ports:
      - "8000:8000"
    env_file:
      - .env
    command: >
      uvicorn app.fujida_api.main:app
      --host 0.0.0.0
      --port 8000
    volumes:
      - .:/app

  postgres:
    image: postgres:15
    container_name: pg_fujida
    restart: always
    ports:
      - "5444:5432"
    env_file:
      - .env
    volumes:
      - pgdata:/var/lib/postgresql/data

volumes:
  pgdata:
